<div class="grid-container">
  <h1 class="mat-h1" i18n="@@lockers-title">Lockers</h1>
  <button mat-fab color="primary" (click)="openCreateDialog()">
    <mat-icon>add</mat-icon>
  </button>
  <mat-grid-list cols="2" *ngIf="lockers" multi>
    <mat-grid-tile *ngFor="let locker of lockers; let i = index" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title style="padding-top: 10px;">
            {{locker.login}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="openEditDialog(locker)" i18n="@@edit-btn">Edit</button>
              <button mat-menu-item (click)="deleteLocker(locker.id)" i18n="@@delete-btn">Delete</button>
              <button *ngIf="!locker.isBlocked" mat-menu-item (click)="blockLocker(i)" i18n="@@block-btn">Block</button>
              <button *ngIf="locker.isBlocked" mat-menu-item (click)="unblockLocker(i)" i18n="@@unblock-btn">Unblock</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="chips-container">
            <mat-chip-list>
              <ng-container [ngSwitch]="locker.isBlocked">
                <mat-chip selected color="warn" *ngSwitchCase="true" i18n="@@blocked-label">
                  Blocked
                </mat-chip>
                <mat-chip selected *ngSwitchCase="false" i18n="@@not-blocked-label">
                  Not blocked
                </mat-chip>
              </ng-container>
              <ng-container [ngSwitch]="locker.isFull">
                <mat-chip selected *ngSwitchCase="true" i18n="@@full-label">
                  Full
                </mat-chip>
                <mat-chip selected *ngSwitchCase="false" i18n="@@not-full-label">
                  Not full
                </mat-chip>
              </ng-container>
            </mat-chip-list>
          </div>

          <ng-container *ngIf="locker.tools.length > 0">
            <mat-expansion-panel 
              (opened)="changePanelState(i, true)"
              (closed)="changePanelState(i, false)"
              [expanded]="panelExpanded[i]">

              <mat-expansion-panel-header>
                <mat-panel-title i18n="@@lockers-tools-label">
                  Tools
                </mat-panel-title>
                <mat-panel-description i18n="@@lockers-tools-description-label">
                  Tools located in this locker
                </mat-panel-description>              
              </mat-expansion-panel-header>

              <mat-list dense>
                <mat-list-item *ngFor="let tool of locker.tools" style="margin-bottom: 20px;">
                  <img matListAvatar src={{tool.imgUrl}} />
                  <h3 matLine style="font-size: 20px;"> {{tool.name}} </h3>
                  <p matLine>
                    <span> {{tool.id}} </span> 
                    <br />
                    <span> {{tool.description}} </span>
                  </p>
                  <mat-divider style="margin: -10px;"></mat-divider>
                </mat-list-item>                
              </mat-list>              
            </mat-expansion-panel>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
