<h1 class="mat-h1">Tools</h1>
<button mat-fab color="primary" (click)="openCreateDialog()">
  <mat-icon>add</mat-icon>
</button>
<div class="mat-elevation-z8" style="margin: 20px;">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="accessLevel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Access Level</th>
      <td mat-cell *matCellDef="let row">{{row.accessLevel}}</td>
    </ng-container>

    <ng-container matColumnDef="serviceState">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Service</th>
      <td mat-cell *matCellDef="let row">
        <mat-chip-list>
          <mat-chip selected color="accent" *ngIf="row.serviceState == 'SERVICE_REQUESTED'">
            Service requested
          </mat-chip>
          <mat-chip selected color="primary" *ngIf="row.serviceState == 'IN_SERVICE'">
            In service
          </mat-chip>
          <mat-chip selected color="primary" *ngIf="row.serviceState == 'SERVED'">
            Served
          </mat-chip>
          <mat-chip selected color="warn" *ngIf="row.serviceState == 'SERVICE_REQUIRED'">
            Service required
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>In use</th>
      <td mat-cell *matCellDef="let row">
        <mat-chip-list>
          <mat-chip selected color="warn" *ngIf="row.userId">
            ✔
          </mat-chip>
          <mat-chip selected color="primary" *ngIf="row.lockerId">
            ❌
          </mat-chip>
          <mat-chip selected color="primary" *ngIf="!row.lockerId && !row.userId ">
            No Data
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDetailsDialog(row)"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>

<router-outlet></router-outlet>