<h2 mat-dialog-title>Enter user data</h2>
<div mat-dialog-content>
    <p *ngIf="error" style="color: #e43e32;">{{error}}</p>   
    <p>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="data.firstName" required>
        </mat-form-field>
    </p>         
    <p>
        <mat-form-field>
            <mat-label>Surname</mat-label>
            <input matInput [(ngModel)]="data.lastName" required>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Login</mat-label>
            <input matInput [(ngModel)]="data.login" required>
        </mat-form-field>    
    </p>
    <p>
        <mat-form-field>
            <mat-label>Access level</mat-label>
            <input matInput [(ngModel)]="data.accessLevel" type="number" min="0" max="4" required>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Role</mat-label>
            <select matNativeControl [(ngModel)]="data.role" required>
                <option value="ADMIN">Admin</option>
                <option value="EMPLOYEE">Employee</option>
                <option value="SERVICEMAN">Serviceman</option>
              </select>
        </mat-form-field>
    </p>
    <p>        
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="data.password" type="password">
        </mat-form-field>
    </p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button (click)="onCreate()">Save</button>
</div>