<div class="main">
    <mat-tab-group mat-align-tabs="center" [backgroundColor]="'primary'">
        <mat-tab label="Lockers">
          <lockers-comp></lockers-comp>
        </mat-tab>
      
        <mat-tab label="Logs">
            <h1>component</h1>
        </mat-tab>
      
        <mat-tab label="DB">
            <data-management-comp></data-management-comp>
        </mat-tab>
      
        <mat-tab label="Notifications">
            <h1>component</h1>
        </mat-tab>
      </mat-tab-group>
</div>